<section class="footer-top">
    <div class ="containers">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-log">
                    <img src="../../assets/img/best_buy_logo.gif">
                </div>
                <div class="footer-top-menu">
                    <ul>
                        <li>
                            <i class ="fa fa-home"></i><span class ="heading">Address:</span>
                            <span class="address">1702 Los Angeles. Calefornia , America</span>

                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            <span class="heading">Mail-Us:</span>
                            <span class="email">
                            <a href="mailto:example@gmail.com">example@gmail.com</a>
                        </span>
                        </li>                        
                        <li>                        
                            <i class="fa fa-phone"></i>
                            <span class="heading">Phone:</span>
                            <span class="number">
                                <a href="tel:1-888-345-6799">1-888-345-6799</a>
                            </span>
                        </li>
                        <li>
                            <a href="Payment">Payment</a>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-all-menu">
                    <h2>My Account</h2>
                    <ul>
                        <li>
                            
                            <a href="">Information</a>
                        </li>
                        <li>
                            
                            <a href="">Order History</a>
                        </li>
                        <li>
                        
                            <a href="">My Whishlist</a>
                        </li>
                        <li>
                        
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                        
                            <a href="">Site Map</a>
                        </li>
                        <li>
                        
                            <a href="">Information</a>
                        </li>
                        <li>
                        
                            <a href="">Order History</a>
                        </li>
                        <li>
                        
                            <a href="">My Whishlist</a>
                        </li>
                        <li>
                        
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                        
                            <a href="">Site Map</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="footer-all-menu">
                    <h2>Information</h2>
                    <ul>
                        <li>
                        
                            <a href="">Cart</a>
                        </li>
                        <li>
                        
                            <a href="">Products</a>
                        </li>
                        <li>
                           
                            <a href="">Support</a>
                        </li>
                        <li>
                            
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                        
                            <a href="">Site Map</a>
                        </li>
                        <li>
                        
                            <a href="">Services</a>
                        </li>
                        <li>
                        
                            <a href="">Pc Setup</a>
                        </li>
                        <li>
                        
                            <a href="">Offers</a>
                        </li>
                        <li>
                        
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                        
                            <a href="">plans</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <div class="footer-all-menu">
                    <h2>Our Services</h2>
                    <ul>
                        <li>
                        
                            <a href="">About</a>
                        </li>
                        <li>
                        
                            <a href="">Shipping Guide</a>
                        </li>
                        <li>
                        
                            <a href="">Support</a>
                        </li>
                        <li>
                        
                            <a href="">Affilations</a>
                        </li>
                        <li>
                        
                            <a href="">Site Map</a>
                        </li>
                        <li>
                        
                            <a href="">Services</a>
                        </li>
                        <li>
                        
                            <a href="">Pc Setup</a>
                        </li>
                        <li>
                        
                            <a href="">Share Locations</a>
                        </li>
                        <li>
                        
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                        
                            <a href="">plans</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</section>
<section class="footer-middle">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Signup for our exclusive Newsletter</h2>
            </div>
            <div class="col-md-4">
                <input type="mail" class="input" placeholder="Email">
               <br>
                <button type="button" class="btn" >SEND</button>
            </div>
            <div class="col-md-4">
                <div class="social text-center">
                    <ul>
                        <li><a href=""><i class="fa fa-facebook"></i></a></li>
                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                        <li><a href=""><i class="fa fa-pinterest"></i></a></li>
                        <li><a href=""><i class="fa fa-instagram"></i></a></li>
                        <li><a href=""><i class="fa fa-google-plus-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        
    </div>

</section>
<footer>
    <div class="containers text-center">
        <p>@ 2022 Electronic store designed by <a href="" style="color:rgb(251, 12, 12) ;"><i><b>Puneet</b></i></a>All Rights Reserved</p><br>
        <h3 style="color: red;">BestBuy</h3>
    </div>
</footer>
