<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="../../assets/img/41bEL9OlxtL._SX1500_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/img/61UrRx+3LLL._SX3000_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="../../assets/img/61YhdE1jwvL._SX3000_.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<section class="bg-color">
  <div class="containers">
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img1.jfif" alt="Mobile" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img2.jfif" alt="Laptop" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img3.jfif" alt="Watch" />
              </div>
            </div>
            <div class="image">
              <img src="{{url}}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="is-interested-image far fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="is-interested-image far fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="is-interested-image far fa-heart"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="content">
            <a href=""> Techno 5G Mobile</a>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p>
              <span class="money">$81.00</span>
              <span class="old-price">$80.00</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img1.jfif" alt="Mobile" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img2.jfif" alt="Laptop" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img3.jfif" alt="Watch" />
              </div>
            </div>
            <div class="image">
              <img src="{{url}}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="fa fa-shopping-basket"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-search"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="content">
            <a href=""> Techno 5G Mobile</a>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p>
              <span class="money">$81.00</span>
              <span class="old-price">$80.00</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img1.jfif" alt="Mobile" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img2.jfif" alt="Laptop" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img3.jfif" alt="Watch" />
              </div>
            </div>
            <div class="image">
              <img src="{{url}}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="is-interested-image far fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="is-interested-image far fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="is-interested-image far fa-heart"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="content">
            <a href=""> Techno 5G Mobile</a>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p>
              <span class="money">$81.00</span>
              <span class="old-price">$80.00</span>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount">9%</div>
            <div class="label label-green">Pre-Order</div>
            <div class="product-container">
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img1.jfif" alt="Mobile" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img2.jfif" alt="Laptop" />
              </div>
              <div class="p" (mouseover)="changeImage($event)">
                <img src="../../assets/img/img3.jfif" alt="Watch" />
              </div>
            </div>
            <div class="image">
              <img src="{{url}}" alt="Image" />
            </div>
            <div class="cart-line"></div>
            <div class="cart-item">
              <ul>
                <li>
                  <a href=""><i class="is-interested-image far fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="is-interested-image far fa-heart"></i></a>
                </li>
                <li>
                  <a href=""><i class="is-interested-image far fa-heart"></i></a>
                </li>
              </ul>
            </div>
          </div>

          <div class="content">
            <a href=""> Techno 5G Mobile</a>
            <div class="rating">
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            <p>
              <span class="money">$81.00</span>
              <span class="old-price">$80.00</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
