

<section class="policy-product">
    <div class="containers">
        <div class="row">
           <div class="col-md-4">
            <div class="policy-p-card">
                <div class="date">
                    <h2>29</h2>
                    <h4>May</h4>
                </div>
                <div class="policy-img">
                <img src="../../assets/img/1.jpg" alt="">
            </div>
            </div>
            <h3>Designed for durability. . Water resistance.1 Surgical-grade stainless steel. 15.54 cm (6.1″) and 17.00 cm (6.7″) display sizes.2 All in four Pro colours.</h3>
            <p>Introducing Dynamic Island, With Ceramic Shield, tougher than any smartphone glass a truly Apple innovation that’s hardware and software — and something in between. It bubbles up music, FaceTime and so much more — all without taking you away from what you’re doing.</p>
           <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
        </div>
           <div class="col-md-4">
            <div class="policy-p-card">
                <div class="date">
                    <h2>7</h2>
                    <h4>June</h4>
                </div>
                <div class="policy-img">
                <img src="../../assets/img/2.jpg" alt="">
            </div>
            </div>
            <h3>A truly Apple innovation that’s  Designed for durability. . Water resistance.1 Surgical-grade stainless steel. 15.54 cm (6.1″) and 17.00 cm (6.7″) display sizes.2 All in four Pro colours.</h3>
            <p>Introducing Dynamic Island, With Ceramic Shield, tougher than any smartphone glass a truly Apple innovation that’s hardware and software — and something in between. It bubbles up music, FaceTime and so much more — all without taking you away from what you’re doing.</p>
           <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
           </div>
           <div class="col-md-4">
            <div class="policy-p-card">
                <div class="date">
                    <h2>1</h2>
                    <h4>May</h4>
                </div>
                <div class="policy-img">
                <img src="../../assets/img/3.jpg" alt="">
            </div>
            </div>
            <h3> Water resistance.1 Surgical-grade stainless steel. 15.54 cm (6.1″) and 17.00 cm (6.7″) display sizes.2 All in four Pro colours.</h3>
            <p>Introducing Dynamic Island, With Ceramic Shield, tougher than any smartphone glass a truly Apple innovation that’s hardware and software — and something in between. It bubbles up music, FaceTime and so much more — all without taking you away from what you’re doing.</p>
           <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
           </div>
        </div>
    </div>
</section>
<section class="policy-product">
    <div class="containers">
        <div class="row">
           <div class="col-md-4">
            <div class="policy-p-card">
                <div class="date">
                    <h2>29</h2>
                    <h4>May</h4>
                </div>
                <div class="policy-img">
                <img src="../../assets/img/4.png" alt="">
            </div>
            </div>
            <h3> . Water resistance.1 Surgical-grade stainless steel. 15.54 cm (6.1″) and 17.00 cm (6.7″) display sizes.2 All in four Pro colours.</h3>
            <p>Introducing Dynamic Island, With Ceramic Shield, tougher than any smartphone glass a truly Apple innovation that’s hardware and software — and something in between. It bubbles up music, FaceTime and so much more — all without taking you away from what you’re doing.</p>
           <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
        </div>
           <div class="col-md-4">
            <div class="policy-p-card">
                <div class="date">
                    <h2>7</h2>
                    <h4>June</h4>
                </div>
                <div class="policy-img">
                <img src="../../assets/img/5.png" alt="">
            </div>
            </div>
            <h3>With Ceramic Shield, tougher than any smartphone glass , Designed for durability. . Water resistance.1 Surgical-grade stainless steel. 15.54 cm (6.1″) and 17.00 cm (6.7″) display sizes.2 All in four Pro colours.</h3>
            <p>Introducing Dynamic Island, a truly Apple innovation that’s hardware and software — and something in between. It bubbles up music, FaceTime and so much more — all without taking you away from what you’re doing.</p>
           <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
           </div>
           <div class="col-md-4">
            <div class="policy-p-card">
                <div class="date">
                    <h2>1</h2>
                    <h4>May</h4>
                </div>
                <div class="policy-img">
                <img src="../../assets/img/6.jpg" alt="">
            </div>
            </div>
            <h3>Designed for durability. . Water resistance.1 Surgical-grade stainless steel. 15.54 cm (6.1″) and 17.00 cm (6.7″) display sizes.2 All in four Pro colours.</h3>
            <p>Introducing Dynamic Island, With Ceramic Shield, tougher than any smartphone glass a truly Apple innovation that’s hardware and software — and something in between. It bubbles up music, FaceTime and so much more — all without taking you away from what you’re doing.</p>
           <a href="" class="read-more">Read More <i class="fa fa-caret-right"></i></a>
           </div>
        </div>
    </div>
</section>
<section class="partners">
    <div class="containers">
        <div class="row">
            <div class="col-md-2">
                <img src="../../assets/img/7.png" alt="">
            </div>
            <div class="col-md-2">
            <img src="../../assets/img/8.png" alt="">
            </div>
            <div class="col-md-2">
                <img src="../../assets/img/9.jpeg" alt="">
            </div>
            <div class="col-md-2">
                <img src="../../assets/img/11.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="../../assets/img/12.jpg" alt="">
            </div>
            <div class="col-md-2">
                <img src="../../assets/img/12.webp" alt="">
            </div>
            
        </div>
    </div>
</section>

<section class="policy">
    <div class="containers text-center">
        <div class ="row">
            <div class="col-md-4">
                <div class="policy-card">
                    <div class="round">
                        <div class="round-icon">
                            <i class="fa fa-car"></i>
                        </div>
                    </div>
                    <h2>Free shipping &amp; Return</h2>
                    <p>Free shipping on all India order</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="policy-card">
                    <div class="round">
                        <div class="round-icon">
                            <i class="fa fa-refresh"></i>
                        </div>
                    </div>
                    <h2>Money Back Guarentee</h2>
                    <p>21 days</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="policy-card">
                    <div class="round">
                        <div class="round-icon">
                            <i class="fa fa-phone"></i>
                        </div>
                    </div>
                    <h2>Online Support 24/7</h2>
                    <p>Chat & Call </p>
                </div>
            </div>
        </div>
    </div>
</section>
